
<div class="bg-primary text-center">
  <h1>My Store</h1>
  <a class="btn btn-primary" routerLink="/products" routerLinkActive="active">Products</a>
  <a class="btn btn-primary" routerLink="/products/1" routerLinkActive="active">Products Details</a>
  <a class="btn btn-primary" routerLink="/cart" routerLinkActive="active">Cart</a>
</div>

<router-outlet></router-outlet>


<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://www.linkedin.com/in/ahmed-badry-7060311a7/">Ahmed Badry</a>
  </div>
  <!-- Copyright -->
</footer>

